@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Lobster&family=Open+Sans:ital@1&family=Poppins&family=Prosto+One&display=swap');
*{margin: 0px;
padding: 0px;
font-family: sans-serif;
box-sizing: border-box;}
